{
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js",
  "tailwindFunctions": ["clsx", "cva", "cn", "twMerge", "tw"]
}
